<div class="image">
<h4>Institute Details</h4>
<div *ngIf="institutePicture==='11'">

   
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Name of Institute</th>
            <th scope="col">Type of Institute</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
         
            <td>Starwood University</td>
            <td>Engineering</td>
            <td>Kolkata</td>
          </tr>
        </tbody>
      </table>
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Aleksanteri_Institute_Building_Facade_2021-06-08.jpg/800px-Aleksanteri_Institute_Building_Facade_2021-06-08.jpg" alt="">
</div>

<div *ngIf="institutePicture==='12'">
   
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Name of Institute</th>
            <th scope="col">Type of Institute</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
         
            <td>Beckman Institute</td>
            <td>Architecture</td>
            <td>Bengaluru</td>
          </tr>
        </tbody>
      </table>
         <img src="https://caltech-prod.s3.amazonaws.com/main/images/Beckman-Institute_52_Seth_Han.2e16d0ba.fill-534x300-c100.jpg" alt="">
</div>

<div *ngIf="institutePicture==='13'">
  
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Name of Institute</th>
            <th scope="col">Type of Institute</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
         
            <td>HighImpact Institute</td>
            <td>Economics</td>
            <td>Hyderabad</td>
          </tr>
        </tbody>
      </table>
    <img src="https://petindia.org/static/eiem/img/building.jpg" alt="">
</div>

<div *ngIf="institutePicture==='14'">

    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Name of Institute</th>
            <th scope="col">Type of Institute</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
         
            <td>Apex Institute</td>
            <td>Business Studies</td>
            <td>New Delhi</td>
          </tr>
        </tbody>
      </table>
    <img src="https://images.news18.com/ibnlive/uploads/2021/04/1617264057_shutterstock_1161838357.jpg?im=FitAndFill,width=1200,height=900" alt="">
</div>

<div *ngIf="institutePicture==='15'">
   
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Name of Institute</th>
            <th scope="col">Type of Institute</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
         
            <td>ProWeb Institute</td>
            <td>Hospitality</td>
            <td>Pune</td>
          </tr>
        </tbody>
      </table>
    <img src="https://sanukriti.files.wordpress.com/2016/12/img_1574.jpg?w=880" alt="">
</div>

<div *ngIf="institutePicture==='16'">
 
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Name of Institute</th>
            <th scope="col">Type of Institute</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
         
            <td>PalmTree Institute</td>
            <td>Pharmacy</td>
            <td>Mumbai</td>
          </tr>
        </tbody>
      </table>
    <img src="https://images.squarespace-cdn.com/content/v1/570815def8baf3b9cbdcc796/1623685184915-WG1RFY5JJLI5XXXYU4H2/stowers-ext-with-helix.jpg" alt="">
</div>
</div>