<div class="image">
<p style="color: white;">
  We run this organization since 1990s.
  <br>
  Our aim is to provide free education to student after 12th/diploma in a institute under us.
  <br>
  Our criteria is student must be eligible and capable for getting free education. 
  <a  data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    Contact us
  </a>
  </p>
 
  
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel" style="margin-top: 27%;">Our contact details</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
     <h6> Mail Id: jiteshbinnar100@gmail.com</h6>
     <h6>Phone Number: 7744920974</h6>
     <h6>Address:
    <p style="color: rgba(232, 226, 226, 0.737);">House no. 2/43,Gopal colcony,CBS road, Nashik,Pincode-435353, Maharashtra,India</p>
     </h6>
    </div>
  </div>
</div>