<div class="image">

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Our Team</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md- col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://t3.ftcdn.net/jpg/02/48/15/86/360_F_248158608_0ErNeAWWx6GZVDCg66jNRoPGEhHCSpaJ.jpg" alt=""></figure>
            <h3><a href="http://www.linkedin.com/in/jitesh-binnar-652b6418b">Ram Sharma</a></h3>
            <p>Director</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://t3.ftcdn.net/jpg/02/69/98/98/360_F_269989865_mMfRFRN4mtDOtnHA0RFXcURX4n761zwd.jpg" alt=""></figure>
            <h3><a href="http://www.linkedin.com/in/jitesh-binnar-652b6418b">Karan Dev </a></h3>
            <p>Senior Executive</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://t4.ftcdn.net/jpg/02/44/06/65/360_F_244066556_Ne4xaSqMpadwspFR3jVUu88IPuTsVBFj.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.linkedin.com/in/jitesh-binnar-652b6418b">Manish Patil</a></h3>
            <p>Business Analyst</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
       </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://i.pinimg.com/originals/2a/c0/4c/2ac04c3c80cf224b84df06b3f0c4dee3.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.linkedin.com/in/jitesh-binnar-652b6418b">Atul Mishra </a></h3>
            <p>Marketing Manager</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
   
    </ul>
  </div>
</section>
</div>