

    <div class="float-container">
        <div class="pricing card-deck mx-3 ">
            <div class="float-child">
            <div class="card card-pricing popular shadow text-center px-3 mb-4">
                <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-dark text-white shadow-sm">Eligibility Criteria </span>
               
                <div class="card-body pt-0">
                    <ul class="list-unstyled mb-4">
                        <li>1. Student marks must be > 90</li>
                        <li>2. Student is applicable only after 12th/Diploma</li>
                        <li>3. Student stream must be match with our available stream </li>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </ul>
                    <!-- <a href="https://www.totoprayogo.com" target="_blank" class="btn btn-primary mb-3">Order Now</a> -->
                </div>
            </div>
        </div>
    
         
          <div class="float-child">
            <div class="card card-pricing popular shadow text-center px-3 mb-4">
                <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-dark text-white shadow-sm">Available Streams </span>
              
                <div class="card-body pt-0">
                    <ul class="list-unstyled mb-4">
                        <li>1. Engineering </li>
                        <li>2. Architecture</li>
                        <li>3. Economics</li>
                        <li>4. Business Studies </li>
                        <li>5. Hospitality </li>
                        <li>6. Pharmacy </li>
                        </ul>
                    <!-- <a href="https://www.totoprayogo.com" target="_blank" class="btn btn-primary mb-3">Order Now</a> -->
                </div>
            </div>
          
        </div>

    </div>
    </div>

<div class="container">
<h4>Please <a routerLink="getStudentInfo">click here</a> to see students Info</h4>
<br>
</div>
<router-outlet></router-outlet>

