<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

  <img src="https://thumbs.dreamstime.com/b/freshman-chalk-white-icon-black-background-ninth-grade-student-high-school-pupil-rucksack-university-undergraduates-190956179.jpg" alt="">
    <a class="navbar-brand">Free Education System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="studentInfo">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            See More..
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="addStudentInfo">Add Info</a>
              <a class="dropdown-item" routerLink="instituteInfo">Our Institutes</a>
              <a class="dropdown-item" routerLink="ourTeam" >Our team</a>
            </div>
          </li>
         
      </ul>
      <form class="d-flex">
        <input class="form-control me-2 mx-5" [(ngModel)]="searchStudent" (keyup)="search($event)" name="searching" type="search" placeholder="Search student" aria-label="Search">
        <!-- <button class="btn btn-outline-secondary" (click)="search()" type="submit">Search</button> -->
      </form>
    </div>
    
  </nav>


   <!-- <div class="image">
 <router-outlet></router-outlet>
</div>   -->



<!-- <app-student-info [searchingStudent]="searchStudent"></app-student-info> -->
<router-outlet></router-outlet>